<div id="pestaña">
  <div class="contenedor-img">
    <img src="assets/img/editor_codigo.png" title="Editor de codigo"
      width="40px"
      class="pestañas" (click)="imgClick(0)">
  </div>
  <div class="contenedor-img">
    <img src="assets/img/c3d.png" title="Codigo tres direcciones C"
      width="40px"
      id="c" class="pestañas"
      (click)="imgClick(1)">
  </div>
  <div class="contenedor-img">
    <img src="assets/img/codigo.png" title="Codigo Assembler"
      width="40px" id="asm" class="pestañas"
      (click)="imgClick(2)">
  </div>
  <div class="contenedor-img">
    <img src="assets/img/descargar.png" title="Descargar" width="40px"
      id="reporte" class="pestañas"
      (click)="imgClick(3)">
  </div>
  <div class="contenedor-img">
    <img src="assets/img/bug.png" title="Errores" width="40px"
      id="errores" class="pestañas"
      (click)="imgClick(4)">
  </div>
</div>
